.Home
  display: flex
  flex-flow: column
  height: 100%
  background: url("../../images/static.gif")
  .row
    border: 1px dotted red
  .body
    flex: 1 1 auto
  .footer
    flex: 0 1 45px
    color: #FFF9FF
    opacity: .7
    .title
      margin-left: 12px
      font-family: "Adobe Garamond Pro"
      font-size: 80px
      line-height: 0
      margin-right: 12px
    .subtitle
      font-family: Inconsolata, monospace
      font-size: 24px



